<?xml version="1.0" ?>
<model>
    <name>MyInspectionRobot</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Milan Shah</name>
        <email>mrshah@wpi.edu</email>
    </author>
    <description>An Inspection Robot which will explore in the world and create a map</description>
</model>
